# MacOS desktop services store
.DS_Store

# Gradle cache
.gradle

# Android Studio project
.idea/*
!.idea/codeStyles
!.idea/copyright
!.idea/icon.svg

# Kotlin cache
.kotlin

# Build output
build

# Local configuration (SDK path, etc)
local.properties

*.iml
**/build/
xcuserdata
!src/**/build/
captures
.externalNativeBuild
.cxx
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcodeproj/project.xcworkspace/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings
node_modules/
